<div class="navbar">
	<ul>
		<li><%= image_tag "oz_logo.jpg", :class => "homepage_logo" %></li>
		<li> HOME </li>
		<li> NEWS </li>
		<li>GALLERY </li> 
		<li>DOODLES </li>
		<li>BIO </li>
		<li>CONTACT </li>
		<li>LINKS </li>
</ul>
<br> 
</div>
<%= image_tag "home_image1.jpg", :class => "homepage_art" %>

<br>

<h4 class="footer">Oz Haver © 2005-2013 All Rights Reserved </h4>