

<h1>Gallery#index</h1>
<p>Find me in app/views/gallery/index.html.erb</p>

<div class="actions">
<%# This is the line to add: -%>
     <%= link_to "view in gallery", 'http://localhost:3000/assets/home_image1.jpg', { :class => "grouped_elements", :rel => "zomg_awesome_images" } %> |
    
