html {
	background: #282822;
	font-family: 'Alegreya SC', serif;
}

.oz {
	font-size: 60px;
	text-align: center;
}

.oz:hover {
	color: #B29800;
	font-size: 70px;
	font-weight: bold;
}

/*.homepage_logo {
	background: url('oz_logo.jpg'), repeat:none;
	margin: 0;
	padding-left: 20%;
	width: 1500px;
	height: 200px;
}*/

/*.homepage_logo:hover {
	background: url('oz_logo_hover.jpg');
	margin: 0;
	padding-left:20%;
	width: 150px;
	height: 200px;
}*/

.homepage_art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

navbar {
	display:inline;
}

ul {
	text-align: center;
}

ul li {
	display:inline;
	color:white;
	margin: 0;
	padding:15px;
}

ul li a {
	text-decoration: none;
	color: white;
}
ul li a:hover {
	color: #B29800;
	text-shadow: 2px 2px #000;
	text-decoration: none;
}

ul {
	margin: 10;
}

.footer {
	text-align: center;
	color:white;
	text-shadow: 1px 1px gray;

}




